@import url("./menu.css");
@import url("./formularz.css");


Body {
    background: #141E26 url("./tlo.png") fixed no-repeat;
    background-size: contain;
    font-size: 100%;
    font-family: Arial;
    color: white;
}

a {
    color: white;
}

.lewa {
    display: block;
    float: left;
    width: 33%;
    height: 1000px;
    z-index: 99999;
}

.srodek {
    display: block;
    float: left;
    width: 33%;
    height: 1000px;
    z-index: 99999;
    text-align: center;
}

.prawa {
    display: block;
    float: left;
    width: 33%;
    height: 1000px;
    z-index: 99999;
    text-align: center;
}

span {
    display: block;
    padding-top: 10px;
}

.obliczenia {
    padding-top: 10rem;
    padding-left: 10rem;
    text-align: left;
}

h1 {
    padding-top: 130px;
    padding-left: 130px;
    margin: 20px auto;
}

#content_m {
    padding: 10rem;
}

.zdj {
    padding: 10px;
}

p {
    padding-top: 20rem;
}

.logowaniee {
    padding-top: 25rem;
}

table {
    padding: 15rem;

}
